<head>
<style>
  h2 {
    position: relative;
    left: 15px;
    bottom: 10px

  }
</style>
</head>
<body>
  <h1>On Being Well-Positioned</h1>
  <h2>Move me!</h2>
  <p>I still think the h2 is where it normally sits.</p>
</body>
