<style type='text/sass'>
    @for $j from 1 to 6 {
        .text-#{$j}{ font-size: 15px * $j; }
    }


</style>

<p class="text-1">Hello</p>
<p class="text-2">Hello</p>
<p class="text-3">Hello</p>
<p class="text-4">Hello</p>
<p class="text-5">Hello</p>
