<body>
  <script>
    const dataset = [12, 31, 22, 17, 25, 18, 29, 14, 9];

    const w = 500;
    const h = 100;

    const svg = d3.select("body")
                  .append("svg")
                  .attr("width", w)
                  .attr("height", h)
                  // Add your code below this line
                  .append('rect')
                  .attr('width', 25)
                  .attr('height', 100)
                  .attr('x', 0)
                  .attr('y', 0);


                  // Add your code above this line
  </script>
</body>
