<style>
  svg {
    background-color: pink;
  }
</style>
<body>
  <script>
    const dataset = [12, 31, 22, 17, 25, 18, 29, 14, 9];

    const w = 500;
    const h = 100;

    const svg = d3.select("body")
                  // Add your code below this line
    .append('svg')
    .style('width', w)
    .style('height', h);


                  // Add your code above this line
  </script>
</body>
