<body>
  <ul>
    <li>Example</li>
    <li>Example</li>
    <li>Example</li>
  </ul>
  <script>
    // Add your code below this line

    d3.selectAll('li')
      .text('list item');

    // Add your code above this line
  </script>
</body>
